In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Flatten
from tensorflow.keras.utils import to_categorical
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.regularizers import L2

In [2]:
df_train=pd.read_csv("train.csv")
dftest=pd.read_csv("test.csv")

In [3]:
display(df_train.head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
columns=['Survived', 'Pclass', 'Sex', 'Age','SibSp','Parch','Fare']
dfmodel=df_train[columns].copy()
display(dfmodel.head(10))

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500
5         0       3    male   NaN      0      0   8.4583
6         0       1    male  54.0      0      0  51.8625
7         0       3    male   2.0      3      1  21.0750
8         1       3  female  27.0      0      2  11.1333
9         1       2  female  14.0      1      0  30.0708

In [5]:
dfmodel['sexb']=dfmodel['Sex'].map({'male':1,'female':0})
dfmodel=dfmodel.drop('Sex',axis=1)
display(dfmodel.head(10))

   Survived  Pclass   Age  SibSp  Parch     Fare  sexb
0         0       3  22.0      1      0   7.2500     1
1         1       1  38.0      1      0  71.2833     0
2         1       3  26.0      0      0   7.9250     0
3         1       1  35.0      1      0  53.1000     0
4         0       3  35.0      0      0   8.0500     1
5         0       3   NaN      0      0   8.4583     1
6         0       1  54.0      0      0  51.8625     1
7         0       3   2.0      3      1  21.0750     1
8         1       3  27.0      0      2  11.1333     0
9         1       2  14.0      1      0  30.0708     0

In [6]:
dfmodel['Age']=dfmodel['Age'].fillna(dfmodel['Age'].median())
dfmodel['Age'].isna().sum()
display(dfmodel.head(10))
dfmodel.corr()['Survived']

   Survived  Pclass   Age  SibSp  Parch     Fare  sexb
0         0       3  22.0      1      0   7.2500     1
1         1       1  38.0      1      0  71.2833     0
2         1       3  26.0      0      0   7.9250     0
3         1       1  35.0      1      0  53.1000     0
4         0       3  35.0      0      0   8.0500     1
5         0       3  28.0      0      0   8.4583     1
6         0       1  54.0      0      0  51.8625     1
7         0       3   2.0      3      1  21.0750     1
8         1       3  27.0      0      2  11.1333     0
9         1       2  14.0      1      0  30.0708     0

Survived    1.000000
Pclass     -0.338481
Age        -0.064910
SibSp      -0.035322
Parch       0.081629
Fare        0.257307
sexb       -0.543351
Name: Survived, dtype: float64

In [7]:
y=df_train['Survived']
x=dfmodel.drop('Survived',axis=1)
scaler=StandardScaler()
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=40)
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)
display(x_train)

array([[ 0.82258588,  0.81624704, -0.47787223, -0.47789902, -0.49985213,
         0.71980808],
       [-1.5876246 , -0.49126054,  0.40818253, -0.47789902,  1.67685731,
        -1.38925921],
       [ 0.82258588, -1.02964601,  3.06634682,  0.76848964,  0.16645084,
         0.71980808],
       ...,
       [ 0.82258588, -2.10641696,  2.18029206,  0.76848964, -0.21557654,
         0.71980808],
       [-0.38251936,  0.04712493, -0.47787223, -0.47789902, -0.43263173,
         0.71980808],
       [ 0.82258588,  2.43140346, -0.47787223, -0.47789902, -0.52012087,
         0.71980808]])

In [23]:
model=Sequential([
    Dense(units=40,activation='relu',kernel_regularizer=L2(0.01)),
    Dense(units=20,activation='relu',kernel_regularizer=L2(0.01)),
    Dense(units=30,activation='relu',kernel_regularizer=L2(0.01)),
    Dense(units=10,activation='relu',kernel_regularizer=L2(0.01)),
    Dense(units=1,activation='sigmoid')
])
model.compile(loss=tf.keras.losses.BinaryCrossentropy(),optimizer=tf.keras.optimizers.Adam(learning_rate=0.001),metrics=["accuracy"])
model.fit(x_train,y_train,epochs=50,validation_data=(x_test,y_test))

Epoch 1/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 4s 22ms/step - accuracy: 0.6517 - loss: 1.3861 - val_accuracy: 0.7989 - val_loss: 1.2938
Epoch 2/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7669 - loss: 1.2276 - val_accuracy: 0.8212 - val_loss: 1.1467
Epoch 3/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7907 - loss: 1.0906 - val_accuracy: 0.8156 - val_loss: 1.0151
Epoch 4/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.7949 - loss: 0.9855 - val_accuracy: 0.8268 - val_loss: 0.9201
Epoch 5/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.8020 - loss: 0.9107 - val_accuracy: 0.8324 - val_loss: 0.8443
Epoch 6/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.8006 - loss: 0.8477 - val_accuracy: 0.8380 - val_loss: 0.7834
Epoch 7/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.7992 - loss: 0.8010 - val_accuracy: 0.8436 - val_loss: 0.7382
Epoch 8/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.8160 - loss: 0.7573 - val_accuracy: 0.8436 - val_loss: 0.7058
Epoch 9/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.8188 - loss: 0.7231 - val_accuracy: 0.8380 - val_loss: 0.6700
Epoch 10/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.8090 - loss: 0.7003 - val_accuracy: 0.8324 - val_loss: 0.6458
Epoch 11/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.8202 - loss: 0.6698 - val_accuracy: 0.8380 - val_loss: 0.6198
Epoch 12/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.8104 - loss: 0.6494 - val_accuracy: 0.8324 - val_loss: 0.6015
Epoch 13/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.8230 - loss: 0.6316 - val_accuracy: 0.8324 - val_loss: 0.5856
Epoch 14/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.8202 - loss: 0.6152 - val_accuracy: 0.8324 - val_loss: 0.5716
Epoch 15/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.8202 - loss: 0.6016 - val_accuracy: 0.8380 - val_loss: 0.5565
Epoch 16/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.8188 - loss: 0.5913 - val_accuracy: 0.8324 - val_loss: 0.5499
Epoch 17/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.8202 - loss: 0.5837 - val_accuracy: 0.8380 - val_loss: 0.5374
Epoch 18/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.8244 - loss: 0.5723 - val_accuracy: 0.8324 - val_loss: 0.5313
Epoch 19/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.8202 - loss: 0.5652 - val_accuracy: 0.8380 - val_loss: 0.5226
Epoch 20/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.8216 - loss: 0.5567 - val_accuracy: 0.8380 - val_loss: 0.5164
Epoch 21/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.8244 - loss: 0.5509 - val_accuracy: 0.8324 - val_loss: 0.5134
Epoch 22/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.8230 - loss: 0.5467 - val_accuracy: 0.8380 - val_loss: 0.5076
Epoch 23/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.8258 - loss: 0.5434 - val_accuracy: 0.8380 - val_loss: 0.5038
Epoch 24/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - accuracy: 0.8230 - loss: 0.5371 - val_accuracy: 0.8380 - val_loss: 0.5006
Epoch 25/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - accuracy: 0.8202 - loss: 0.5345 - val_accuracy: 0.8436 - val_loss: 0.4952
Epoch 26/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.8244 - loss: 0.5300 - val_accuracy: 0.8380 - val_loss: 0.4928
Epoch 27/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.8272 - loss: 0.5241 - val_accuracy: 0.8380 - val_loss: 0.4888
Epoch 28/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.8216 - loss: 0.5231 - val_accuracy: 0.8380 - val_loss: 0.4864
Epoch 29/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.8272 - loss: 0.5195 - val_accuracy: 0.8492 - val_loss: 0.4819
Epoch 30/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.8272 - loss: 0.5176 - val_accuracy: 0.8380 - val_loss: 0.4814
Epoch 31/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - accuracy: 0.8216 - loss: 0.5171 - val_accuracy: 0.8380 - val_loss: 0.4767
Epoch 32/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.8258 - loss: 0.5125 - val_accuracy: 0.8380 - val_loss: 0.4776
Epoch 33/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.8216 - loss: 0.5138 - val_accuracy: 0.8380 - val_loss: 0.4787
Epoch 34/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - accuracy: 0.8244 - loss: 0.5106 - val_accuracy: 0.8380 - val_loss: 0.4718
Epoch 35/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - accuracy: 0.8230 - loss: 0.5076 - val_accuracy: 0.8380 - val_loss: 0.4714
Epoch 36/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - accuracy: 0.8230 - loss: 0.5052 - val_accuracy: 0.8436 - val_loss: 0.4706
Epoch 37/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - accuracy: 0.8258 - loss: 0.5042 - val_accuracy: 0.8436 - val_loss: 0.4676
Epoch 38/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - accuracy: 0.8287 - loss: 0.5010 - val_accuracy: 0.8436 - val_loss: 0.4683
Epoch 39/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.8272 - loss: 0.4991 - val_accuracy: 0.8436 - val_loss: 0.4650
Epoch 40/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - accuracy: 0.8244 - loss: 0.4991 - val_accuracy: 0.8380 - val_loss: 0.4643
Epoch 41/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.8258 - loss: 0.4974 - val_accuracy: 0.8436 - val_loss: 0.4638
Epoch 42/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.8287 - loss: 0.4967 - val_accuracy: 0.8547 - val_loss: 0.4618
Epoch 43/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - accuracy: 0.8244 - loss: 0.4965 - val_accuracy: 0.8436 - val_loss: 0.4634
Epoch 44/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.8202 - loss: 0.4986 - val_accuracy: 0.8380 - val_loss: 0.4618
Epoch 45/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - accuracy: 0.8272 - loss: 0.4916 - val_accuracy: 0.8436 - val_loss: 0.4610
Epoch 46/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.8272 - loss: 0.4921 - val_accuracy: 0.8380 - val_loss: 0.4572
Epoch 47/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.8230 - loss: 0.4932 - val_accuracy: 0.8492 - val_loss: 0.4575
Epoch 48/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - accuracy: 0.8272 - loss: 0.4902 - val_accuracy: 0.8492 - val_loss: 0.4555
Epoch 49/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.8287 - loss: 0.4886 - val_accuracy: 0.8547 - val_loss: 0.4527
Epoch 50/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.8216 - loss: 0.4932 - val_accuracy: 0.8492 - val_loss: 0.4591

In [24]:
model.evaluate(x_test,y_test)

6/6 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - accuracy: 0.8492 - loss: 0.4591

[0.4590700566768646, 0.8491619825363159]

In [20]:
dftest=dftest.sort_values(by='PassengerId')
dftest['Age']=dftest['Age'].fillna(dftest['Age'].median())
dftest['sexb']=dftest['Sex'].map({'male':1,'female':0})
dftest.isna().sum()
dftest['Fare']=dftest['Fare'].fillna(dftest['Fare'].median())
columns=['Pclass', 'Age','SibSp','Parch','Fare', 'sexb']
xpred=dftest[columns]
xpred_scaled=scaler.transform(xpred)
xpred.info()
display(dftest.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  418 non-null    int64
 1   Age     418 non-null    float64
 2   SibSp   418 non-null    int64
 3   Parch   418 non-null    int64
 4   Fare    418 non-null    float64
 5   sexb    418 non-null    int64
dtypes: float64(2), int64(4)
memory usage: 19.7 KB

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,sexb
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,1
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,0
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,1
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,1
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,0

In [21]:
predictions=model.predict(xpred_scaled)
binpred=(predictions>0.5).astype(int)
finalsub=pd.DataFrame({
    'PassengerId':dftest['PassengerId'],
    'Survived':binpred.flatten()
})
print(finalsub.head())
finalsub.to_csv("Titatnicv2.csv",index=False)

14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1